@font-face
  font-family: "Kenyan Coffee"
  font-style: normal
  font-weight: bold
  src: url(../fonts/kenyancoffeerg-bold.otf)

@font-face
  font-family: 'Pacifico'
  font-style: normal
  font-weight: normal
  src: url(../fonts/Pacifico-Regular.ttf)

@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: bold
  src: url(../fonts/Montserrat-bold.ttf)

*
  font-family: Arial, sans-serif

body
  position: relative

.container
  width: 960px
  
.navbar-toggle .icon-bar
  background: #999999

@media all and (max-width: 991px)

  .container
    width: 740px

  .facts__img
    max-width: 740px


[class*='col-'], .container
  padding-right: 10px
  padding-left: 10px

.container-fluid
  padding: 0

.row
  margin-right: -10px
  margin-left: -10px

a,h1,h2,h3,h4,h5,h6
  text-transform: uppercase

h1, h2, h1 span, h2 span
  font-family: 'Kenyan Coffee', sans-serif

a,h3,h4,h5,h6
  font-family: 'Montserrat', sans-serif



.link-circle
  display: inline-block
  width: 30px
  height: 30px
  border: solid black 2px
  border-radius: 50%
  margin-top: 8px
  margin-bottom: 8px
  padding: 0
  i
    font-size: 15px
    position: absolute
    top: 7px
    left: 8px

.clickable
  cursor: pointer

header
  margin: 10px 0
  img
    padding-top: 5px
  .container
    position: relative

#header__nav
  display: inline-block
  float: right
  background: #fff
  a
    color: #999999
    font-size: 13px
    &.active
      color: #45333a

.banner
  margin-top: 60px
  padding-bottom: 380px
  background: url('../img/banner__bg.png')  center 200px no-repeat

h1
  font-family: "Kenyan Coffee", sans-serif
  font-weight: bold
  font-size: 56px
  color: #533541
  position: relative
  display: inline-block
  span
    font-size: 122px
    color: #ff0000
  img
    display: inline-block
    position: absolute
    top: 20px
    left: 94px

#work
  background: #3f3b48
  color: #fefefe
  padding-bottom: 90px
  h2
    position: relative
    font-size: 52px
    display: inline-block
    span
      font-size: 104px
    img
      position: absolute
      top: 10px
      left: 30px

.work-slider__item
  background: url("../img/work__phone.png") center -120px no-repeat
  padding-top: 100px
  padding-bottom: 140px
  height: 540px
  h3
    font-size: 18px
  p
    font-size: 12px
    width: 330px
    font-family: Arial, sans-serif
    line-height: 20px
  li
    font-size: 14px
    font-family: Montserrat, sans-serif
    padding-bottom: 8px

.work__technologies
  table
    border-collapse: separate
    border-spacing: 1px
    margin-top: 20px
    margin-bottom: 40px
  td
    padding: 0
    background: #635f6d
    width: 80px
    height: 100px
    text-align: center
    font-family: Montserrat,sans-serif
    font-weight: bold
    font-size: 12px
    line-height: 24px
    &:first-child
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
    &:last-child
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
    i
      font-size: 40px
  a
    color: #fefefe
    text-decoration: none

.work__paginator
  font-family: Montserrat, sans-serif
  font-size: 12px
  font-weight: bold
  background: url("../img/work__paginator.png") center no-repeat
  width: 400px
  height: 64px
  line-height: 58px
  span
    display: inline-block
  #work__prev, #work__next
    text-transform: uppercase
    font-family: Montserrat,sans-serif
    color: #333333
    text-decoration: none

#work__prev
  padding: 0 15px

#work__next
  padding: 0 30px

#work__counter
  display: inline-block
  padding: 0 15px 0 15px

#work__current
  font-size: 18px

#process
  background: url('../img/process__bg.png') center 415px no-repeat
  h2
    font-size: 104px
    color: #ff0000
    margin-bottom: 60px
    span
      display: inline-block
      font-size: 82px
      color: #3f3b48
      vertical-align: top
      line-height: 80px
      border-bottom: solid #3f3b48 10px
      padding-top: 9px
      margin: 0 8px
  .row
    margin-bottom: 50px
    &:last-of-type
      margin-bottom: 255px
  a
    background: red
    color: #fff
    padding: 10px 35px
    border-radius: 7px

.process-item
  h3
    font-size: 18px
    margin-bottom: 20px
    i
      font-size: 28px
  p
    font-size: 12px

#blog
  background: #3f3b48
  color: #fff
  overflow: hidden
  .row
    overflow: hidden
    height: 600px
    position: relative
  h2
    font-size: 52px
    position: relative
    display: inline-block
    span
      font-size: 104px
    img
      position: absolute
      top: 10px
      left: 30px

.blog-row
  height: 450px
  position: absolute
  &__before
    height: 450px
    top: 0
    position: absolute
    background: linear-gradient(to right, rgba(63,59,72,1) 0%,rgba(255,255,255,0) 100%)
  &__after
    height: 450px
    top: 0
    position: absolute
    background: linear-gradient(to left, rgba(63,59,72,1) 0%, rgba(255,255,255,0) 100%)

.blog-item
  background: #595466
  display: inline-block
  padding: 20px
  width: 340px
  height: 450px
  position: relative
  margin: 0 30px
  float: left
  h4, h3, a
    padding: 10px
  h4
    font-size: 10px
  h3
    font-size: 14px
  a
    display: inline-block
    font-size: 10px
    text-decoration: none
    color: #fff
    i
      vertical-align: bottom
      line-height: 16px
  &__date
    position: absolute
    display: inline-block
    font-family: Montserrat, sans-serif
    font-size: 38px
    color: #3f3b48
    width: 75px
    height: 80px
    background: #fff
    top: 206px
    left: 245px
    border-radius: 4px
    padding-top: 5px
  &__month
    display: inline-block
    background: #3f3b48
    color: #fff
    width: 75px
    font-size: 11px
    position: absolute
    bottom: 0
    left: 0
    font-family: inherit
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px

.blog-slider
  position: absolute
  height: 8px
  background: #2f2c36
  border-style: inset
  border-color: #534f5b
  border-width: 1px
  bottom: 40px
  width: 940px
  &__caret
    background: #FFF
    position: absolute
    width: 88px
    height: 26px
    top: -9px
    left: 0
    border-radius: 4px
    &-left
      background: url("../img/blog-slider__caret-left.png") center no-repeat
      position: absolute
      left: 10px
      height: 26px
      width: 28px
    &-right
      background: url("../img/blog-slider__caret-right.png") center no-repeat
      position: absolute
      right: 10px
      height: 26px
      width: 28px


#facts
  position: relative
  margin-bottom: 215px
  h2
    font-size: 104px
    color: red
    span
      font-size: 82px
      color: #3f3b48
      display: inline-block
      border-bottom: solid #3f3b48 10px
      line-height: 80px
      vertical-align: top
      padding-top: 9px
  p
    font-size: 18px
    font-family: Montserrat, sans-serif
  .facts__img
    position: absolute
    top: 190px
    left: 50px

footer
  background: #3f3b48
  color: #fff
  vertical-align: middle
  line-height: 85px
  font-size: 14px
  span
    display: inline-block
    float: right
  
.footer-socials
  display: inline-block
  float: right
  padding-top: 18px
  margin-left: 20px
  ul
    line-height: 20px
    a
      position: relative
      color: #fff
      border-color: #fff