@font-face {
  font-family: "Kenyan Coffee";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/kenyancoffeerg-bold.otf); }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Pacifico-Regular.ttf); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Montserrat-bold.ttf); }

* {
  font-family: Arial, sans-serif; }

body {
  position: relative; }

.container {
  width: 960px; }

[class*='col-'], .container {
  padding-right: 10px;
  padding-left: 10px; }

.container-fluid {
  padding: 0; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

a, h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1, h2, h1 span, h2 span {
  font-family: 'Kenyan Coffee', sans-serif; }

a, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

.link-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid black 2px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0; }
  .link-circle i {
    font-size: 15px;
    position: absolute;
    top: 7px;
    left: 8px; }

.clickable {
  cursor: pointer; }

header {
  margin: 10px 0; }
  header img {
    padding-top: 5px; }
  header .container {
    position: relative; }

#header__nav {
  display: inline-block;
  float: right;
  background: #fff; }
  #header__nav a {
    color: #999999;
    font-size: 13px; }
    #header__nav a.active {
      color: #45333a; }

.banner {
  margin-top: 60px;
  padding-bottom: 380px;
  background: url("../img/banner__bg.png") center 200px no-repeat; }

h1 {
  font-family: "Kenyan Coffee", sans-serif;
  font-weight: bold;
  font-size: 56px;
  color: #533541;
  position: relative; }
  h1 span {
    font-size: 122px;
    color: #ff0000; }
  h1 img {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 386px; }

#work {
  background: #3f3b48;
  color: #fefefe;
  padding-bottom: 90px; }
  #work h2 {
    position: relative;
    font-size: 52px; }
    #work h2 span {
      font-size: 104px; }
    #work h2 img {
      position: absolute;
      top: 10px;
      left: 500px; }

.work-slider__item {
  background: url("../img/work__phone.png") center -120px no-repeat;
  padding-top: 100px;
  padding-bottom: 140px;
  height: 540px; }
  .work-slider__item h3 {
    font-size: 18px; }
  .work-slider__item p {
    font-size: 12px;
    width: 330px;
    font-family: Arial, sans-serif;
    line-height: 20px; }
  .work-slider__item li {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    padding-bottom: 8px; }

.work__technologies table {
  border-collapse: separate;
  border-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 40px; }

.work__technologies td {
  padding: 0;
  background: #635f6d;
  width: 80px;
  height: 100px;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px; }
  .work__technologies td:first-child {
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px; }
  .work__technologies td:last-child {
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px; }
  .work__technologies td i {
    font-size: 40px; }

.work__technologies a {
  color: #fefefe;
  text-decoration: none; }

.work__paginator {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: url("../img/work__paginator.png") center no-repeat;
  width: 400px;
  height: 64px;
  line-height: 58px; }
  .work__paginator span {
    display: inline-block; }
  .work__paginator #work__prev, .work__paginator #work__next {
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: #333333;
    text-decoration: none; }

#work__prev {
  padding: 0 15px; }

#work__next {
  padding: 0 30px; }

#work__counter {
  display: inline-block;
  padding: 0 15px 0 15px; }

#work__current {
  font-size: 18px; }

#process {
  background: url("../img/process__bg.png") center 415px no-repeat; }
  #process h2 {
    font-size: 104px;
    color: #ff0000;
    margin-bottom: 60px; }
    #process h2 span {
      display: inline-block;
      font-size: 82px;
      color: #3f3b48;
      vertical-align: top;
      line-height: 80px;
      border-bottom: solid #3f3b48 10px;
      padding-top: 9px;
      margin: 0 8px; }
  #process .row {
    margin-bottom: 50px; }
    #process .row:last-of-type {
      margin-bottom: 255px; }
  #process a {
    background: red;
    color: #fff;
    padding: 10px 35px;
    -webkit-border-radius: 7px;
            border-radius: 7px; }

.process-item h3 {
  font-size: 18px;
  margin-bottom: 20px; }
  .process-item h3 i {
    font-size: 28px; }

.process-item p {
  font-size: 12px; }

#blog {
  background: #3f3b48;
  color: #fff; }
  #blog .row {
    overflow: hidden;
    height: 600px; }
  #blog h2 {
    font-size: 52px;
    position: relative; }
    #blog h2 span {
      font-size: 104px; }
    #blog h2 img {
      position: absolute;
      top: 10px;
      left: 300px; }

.blog-row {
  height: 450px; }

.blog-item {
  background: #595466;
  display: inline-block;
  padding: 20px;
  width: 340px;
  height: 450px;
  position: relative;
  margin: 0 30px;
  float: left; }
  .blog-item h4, .blog-item h3, .blog-item a {
    padding: 10px; }
  .blog-item h4 {
    font-size: 10px; }
  .blog-item h3 {
    font-size: 14px; }
  .blog-item a {
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
    color: #fff; }
    .blog-item a i {
      vertical-align: bottom;
      line-height: 16px; }
  .blog-item__date {
    position: absolute;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    color: #3f3b48;
    width: 75px;
    height: 80px;
    background: #fff;
    top: 206px;
    left: 245px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding-top: 5px; }
  .blog-item__month {
    display: inline-block;
    background: #3f3b48;
    color: #fff;
    width: 75px;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: inherit;
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px; }

.blog-slider {
  position: relative;
  height: 8px;
  background: #2f2c36;
  border-style: inset;
  border-color: #534f5b;
  border-width: 1px;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 10px; }
  .blog-slider__caret {
    background: #FFF;
    position: absolute;
    width: 88px;
    height: 26px;
    top: -9px;
    left: 0;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .blog-slider__caret-left {
      background: url("../img/blog-slider__caret-left.png") center no-repeat;
      position: absolute;
      left: 10px;
      height: 26px;
      width: 28px; }
    .blog-slider__caret-right {
      background: url("../img/blog-slider__caret-right.png") center no-repeat;
      position: absolute;
      right: 10px;
      height: 26px;
      width: 28px; }

#facts {
  position: relative;
  margin-bottom: 215px; }
  #facts h2 {
    font-size: 104px;
    color: red; }
    #facts h2 span {
      font-size: 82px;
      color: #3f3b48;
      display: inline-block;
      border-bottom: solid #3f3b48 10px;
      line-height: 80px;
      vertical-align: top;
      padding-top: 9px; }
  #facts p {
    font-size: 18px;
    font-family: Montserrat, sans-serif; }
  #facts .facts__img {
    position: absolute;
    top: 190px;
    left: 50px; }

footer {
  background: #3f3b48;
  color: #fff;
  vertical-align: middle;
  line-height: 85px;
  font-size: 14px; }
  footer span {
    display: inline-block;
    float: right; }

.footer-socials {
  display: inline-block;
  float: right;
  padding-top: 18px;
  margin-left: 20px; }
  .footer-socials ul {
    line-height: 20px; }
    .footer-socials ul a {
      position: relative;
      color: #fff;
      border-color: #fff; }
